.header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
    background: #0a0a0a;
    margin-top: 0px;

}
.logo {
    margin: 3px 0 2px 0;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(136, 72, 72, 0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
      background-color: #bd9f42
      
    }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown:hover .dropbtn {
    
    color: #bd9f42;
  }

  .menu-toggler {
      float: right;
      
      width: 80%;
      text-align:right;
      padding:0;
  }

  .main{
      font-size: large;
      color: #bd9f42;
  }

 .col-3{
     text-align: center;
     color: #bd9f42;
     font-size: large;
     font-weight: bold;
     padding: 10px;
     margin-top: 15px;
     text-decoration: none;
 }

 a:link {
     
     text-decoration: none;
     padding: 10px;
    }
a:hover{color:#bd9f42;}

#asilparagraf {
  color: #f9f9f9;
  margin-bottom: 25px;
}

.bitter {
  background-image: url(https://www.bittercikolatacim.com.tr/images/slider/parallax.jpg);
  background-position: center;
  display: relative;
  border-bottom: 4px solid #c5a645;
  text-align: center;
  color: #bd9f42;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}